body{
    background-color: #e0e0e0;
}
.boton{
    width: 200px;
    height: 200px;
    margin: 50px;
    border: white;
    color: lightseagreen;
}
#boton1{
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow:  10px 10px 25px #cacaca,
                -10px -10px 25px #f6f6f6;
}
#boton1:hover {
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow: inset 10px 10px 25px #cacaca,
                inset -10px -10px 25px #f6f6f6;
}
#boton2{
    border-radius: 65px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  10px 10px 20px #b3b3b3,
                -10px -10px 20px #ffffff;
}
#boton2:hover{
    border-radius: 65px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 20px #b3b3b3,
                -10px -10px 20px #ffffff;
}